:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --navyblue: #2e2f42;
  --white: #fff;
  --besh: #f4f4fd;
}
/*--------------------------------Main Page------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  margin-right: 0%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fff;
  margin: 0% auto;
}
/*----------------------------------header-----------------------*/
/*--------------------------section----------------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.top-line {
  display: flex;
  width: 1440px;
  height: 72px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  text-align: center;
  border-bottom: 1px solid #e7e9fc;
  margin: 0%;
  margin: 0% auto;
}
img {
  display: block;
}
.top-line-div {
  display: flex;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 2px solid red;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris, #4d5ae5);
  /*
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
*/
  margin-right: 76px;
}
.logo-web {
  justify-content: center;
  color: var(--navyblue, #2e2f42);
}
.liste {
  list-style: none;
  text-decoration: none;
  align-items: center;
  display: flex;
  /*
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  margin: 0%;
  */
}

.text-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  list-style: none;
  text-decoration: none;

  display: flex;
  height: 48px;

  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
.text-list-item {
  color: var(--navyblue);
  padding: 24px 0;
}

.text-add {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*
  text-align: center;
  */
  color: var(--slate, #434455);
  text-decoration: none;
  box-sizing: border-box;
}
.adres-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: flex;

  /*
  width: 153px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  */
  margin-left: 0%;
  gap: 40px;
}
.text-add-item {
  margin-right: 40px;
}
.text-add-iteme {
  margin-right: 0%;
}
.adres-item:hover {
  color: #404bbf;
}
.adres-item:focus {
  color: #404bbf;
}
.text-list-item:hover {
  color: #404bbf;
}
.text-list-item:focus {
  color: #404bbf;
}
/*-----------------------------------main-----------------------------------*/
/*------------------------------section-1--------------------------------*/
.hero {
  background: var(--navyblue, #2e2f42);
  padding: 188px 0;
}
.hero-text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 48px;
}

.hero-buttom {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris, #4d5ae5);
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.hero-buttom:hover,
.hero-buttom:focus {
  background-color: #404bbf;
}
/*-----------------------------------section-2----------------------------*/
.feature {
  padding: 120px 0;
}
.list {
  list-style: none;
}
.feature-ul {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
.feature-text {
  
  width: calc((100% - 3 * 24px) / 4);
}*/

.feature-strong {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-lowtext {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-----------------------------------section-3----------------------------*/
.doin {
  text-align: center;
  padding-bottom: 120px;
}
.doin-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.doin-ite {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
/*
.doin-item {
  width: calc((100% - 48px) / 3);
}*/

.doin-item-2 {
}
.doin-item-3 {
}
.doin-img {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>),
    lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.doin-img2 {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.doin-img3 {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
/*----------------------------------------------section-4----------------------------*/
.team {
  justify-content: center;
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-text {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  justify-content: center;
  background: var(--white, #fff);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-div {
  justify-content: center;
}
.team-twodiv {
  padding: 32px 0;
}
.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-desc {
  color: var(--slate, #434455);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*------------------------------------------footer---------------------------------*/
.foote {
  background-color: var(--navyblue, #2e2f42);
}
.foote-div {
}
.foote-logo {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--iris);
}
.foote-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foote-logo-stu {
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foote-text {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-------------------------------portfolio---------------------------------*/
/*--------------------------------header------------------------------*/
.foo {
  justify-content: center;
}
.foo-div {
}
.foo-logo {
  font-family: "Raleway", sans-serif;

  flex-shrink: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}
.foo-div-stu {
  justify-content: center;
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
}
.foo-nav {
  list-style: none;
  text-decoration: none;
}
.foo-nav-span {
  color: var(--navyblue);
}
.foo-nav-spc {
  list-style: none;
  text-decoration: none;
}
.foo-nav-studi {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foo-nav-studi:hover,
.foo-nav-port:hover,
.foo-nav-cont:hover {
  color: #404bbf;
}
.foo-nav-studi:focus,
.foo-nav-port:focus,
.foo-nav-cont:focus {
  color: #404bbf;
}

.foo-nav-port {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foo-nav-cont {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foo-address {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-style: normal;
}
.foo-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
.foo-mail:hover,
.foo-mail:focus {
  color: #404bbf;
}
/*-------------------------------------------------main------------------------------------------*/
.butt-list {
}
.butt-item {
  background: var(--besh);

  color: var(--iris);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.butt-item:hover,
.butt-item:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.butt-list-title {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.butt-list-desc {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.low {
  background-color: var(--navyblue);
}
.foo-nav-spane {
  color: var(--besh);
}
